<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Примечание. В качестве альтернативы вместо ручного редактирования этого файла вы можете использовать 
    средство веб-администрирования для настройки параметров приложения. Используйте
    параметр Website->Asp.Net Configuration в Visual Studio.
    Полный список параметров и комментариев можно найти в 
    файле machine.config.comments, который обычно расположен в каталоге 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
$if$ ($targetframeworkversion$>=4.0)
  <configSections>
    <section name="WorkflowRuntime" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <WorkflowRuntime Name="WorkflowServiceContainer">
    <Services>
      <add type="System.Workflow.Runtime.Hosting.ManualWorkflowSchedulerService, System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add type="System.Workflow.Runtime.Hosting.DefaultWorkflowCommitWorkBatchService, System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </Services>
  </WorkflowRuntime>

  <appSettings/>

  <connectionStrings/>

  <system.web>
    <!-- 
            Задайте compilation debug="true", чтобы вставить отладочные 
            символы в скомпилированную страницу. Поскольку это 
            влияет на производительность, задавайте это значение равным true только 
            во время разработки.
        -->
    <compilation debug="false"/>
    <!--
            Раздел <authentication> включает настройку 
            режима безопасной аутентификации, используемого 
            ASP.NET для идентификации входящего пользователя. 
        -->
    <authentication mode="Windows"/>
    <!--
            Раздел <customErrors> включает настройку, 
            отвечающую за действия, предпринимаемые при возникновении необрабатываемых ошибок 
            во время выполнения запроса. В частности, 
            он позволяет разработчикам настраивать HTML-страницы ошибок, 
            которые будут отображаться вместо трассировки стека ошибок.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <httpModules>
        <add type="System.Workflow.Runtime.Hosting.WorkflowWebHostingModule, System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="WorkflowHost"/>
    </httpModules>
  </system.web>

$else$
  <configSections>
    <section name="WorkflowRuntime" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <WorkflowRuntime Name="WorkflowServiceContainer">
    <Services>
      <add type="System.Workflow.Runtime.Hosting.ManualWorkflowSchedulerService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add type="System.Workflow.Runtime.Hosting.DefaultWorkflowCommitWorkBatchService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </Services>
  </WorkflowRuntime>

  <appSettings/>

  <connectionStrings/>

  <system.web>
    <!-- 
            Задайте compilation debug="true", чтобы вставить отладочные 
            символы в скомпилированную страницу. Поскольку это 
            влияет на производительность, задавайте это значение равным true только 
            во время разработки.
        -->
    <compilation debug="false"/>
    <!--
            Раздел <authentication> включает настройку 
            режима безопасной аутентификации, используемого 
            ASP.NET для идентификации входящего пользователя. 
        -->
    <authentication mode="Windows"/>
    <!--
            Раздел <customErrors> включает настройку 
            отвечающую за действия, предпринимаемые при возникновении необрабатываемых ошибок 
            во время выполнения запроса. В частности, 
            он позволяет разработчикам настраивать HTML-страницы ошибок, 
            которые будут отображаться вместо трассировки стека ошибок.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <httpModules>
        <add type="System.Workflow.Runtime.Hosting.WorkflowWebHostingModule, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="WorkflowHost"/>
    </httpModules>
  </system.web>
$endif$
</configuration>
