@helper HelperName(string name) {
    // вспомогательное приложение может содержать код и/или разметку, например
    // var msg = "Здравствуйте, " + name;
    // <p>@msg</p>
    // Дополнительные сведения см. по адресу: http://go.microsoft.com/fwlink/?LinkID=204658
}
