<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="TestAgent;PrivateAssemblies"/>
    </assemblyBinding>
  </runtime>
  <system.runtime.remoting>
    <application>
      <channels>
      </channels>
      <service>
      </service>
    </application>
    <customErrors mode="Off">
    </customErrors>
  </system.runtime.remoting>
</configuration>
