<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CertificateEndpoint">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAttachmentService" receiveTimeout="15:00:00"
                    sendTimeout="15:00:00" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://connect.microsoft.com/AnonymousService/AttachmentService.svc "
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttachmentService"
                contract="ConnectAttachmentService.IAttachmentService" name="BasicHttpBinding_IAttachmentService" />
            <endpoint address="https://connect.microsoft.com/AnonymousService/CreateFeedbackService.svc"
                binding="basicHttpBinding" bindingConfiguration="CertificateEndpoint"
                contract="ConnectCreateFeedbackService.ICreateFeedbackService"
                name="CertificateEndpoint" />
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="ServiceViewEventBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.web>
        <httpRuntime maxRequestLength="2147483647"/>
    </system.web>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PrivateAssemblies"/>
    </assemblyBinding>
  </runtime>
</configuration>
