<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="TestAgent;PrivateAssemblies;PublicAssemblies;PrivateAssemblies\DataCollectors;PrivateAssemblies\DataCollectors\x86"/>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="10.1.0.0-11.1.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.WebTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-11.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.LoadTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="8.0.0.0-11.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.runtime.remoting>
    <application>
      <channels>
      </channels>
      <service>
      </service>
    </application>
    <customErrors mode="Off">
    </customErrors>
  </system.runtime.remoting>
  <system.diagnostics>
    <switches>
      <!-- You must use integral values for "value".
           Use 0 for off, 1 for error, 2 for warn, 3 for info, and 4 for verbose. -->
      <add name="EqtTraceLevel" value="2" />
    </switches>
  </system.diagnostics>
<!-- Below are possible appSettings keys recognized by the service.  To add a key: <add key="Key_Name" value="value"/> -->
<!-- WorkingDirectory: Base directory for staging and temporary files -->
<!-- CreateTraceListener: Service creates trace log file in installation directory. Default: yes, override with "No" -->
<!-- EnableTestExecutionEventLogTracing: Process writes errors to the event log. Default: yes, override with "No" -->
<!-- AgentServicePort: TCP port used by Agent Service -->
<!-- ControllerConnectionPeriodInSeconds: Number of seconds between attempts to connect to the controller -->
<!-- StopTestRunCallTimeoutInSeconds: How long the agent service will wait for Agent Process to exit from StopTestRun call -->
<!-- LogSizeLimitInMegs: Maximum allowable size of log file, 0 allows size limited by disk space. -->
<!-- BindTo: The IP address of the NIC in which to bind for communication -->
<!-- AlwaysUseMachineName: Determines whether clients of the agent service should always use the controller computer name when communicating with it. Default: no, override with "Yes" -->
<!-- RemotingTimeoutSeconds: Maximum time a remoting call can last in seconds (default 10 minutes). -->
  <appSettings>
    <add key="LogSizeLimitInMegs" value="20"/>
    <add key="AgentServicePort" value="6910"/>
    <add key="ControllerConnectionPeriodInSeconds" value="30"/>
    <add key="StopTestRunCallTimeoutInSeconds" value="120"/>
    <add key="CreateTraceListener" value="no"/>
    <add key="GetCollectorDataTimeout" value="300"/>
  </appSettings>
</configuration>
